<p style="color: green"><%= notice %></p>

<%= render @admin_customer %>

<div>
  <%= link_to "Edit this customer", edit_admin_customer_path(@admin_customer) %> |
  <%= link_to "Back to customers", admin_customers_path %>

  <%= button_to "Destroy this customer", @admin_customer, method: :delete %>
</div>
