<div id="<%= dom_id rental %>">
  <p>
    <strong>Customer:</strong>
    <%= rental.customer_id %>
  </p>

  <p>
    <strong>Dress variant:</strong>
    <%= rental.dress_variant_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= rental.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= rental.end_date %>
  </p>

  <p>
    <strong>Return date:</strong>
    <%= rental.return_date %>
  </p>

  <p>
    <strong>Deposit amount:</strong>
    <%= rental.deposit_amount %>
  </p>

  <p>
    <strong>Deposit returned:</strong>
    <%= rental.deposit_returned %>
  </p>

  <p>
    <strong>Total cost:</strong>
    <%= rental.total_cost %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= rental.status %>
  </p>

</div>
