<div id="<%= dom_id dress %>">
  <p>
    <strong>Name:</strong>
    <%= dress.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= dress.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= dress.image_url %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= dress.category_id %>
  </p>

</div>
