<div id="<%= dom_id dress_variant %>">
  <p>
    <strong>Dress:</strong>
    <%= dress_variant.dress_id %>
  </p>

  <p>
    <strong>Sku:</strong>
    <%= dress_variant.sku %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= dress_variant.size_id %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= dress_variant.color %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= dress_variant.condition %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= dress_variant.status %>
  </p>

  <p>
    <strong>Daily rate:</strong>
    <%= dress_variant.daily_rate %>
  </p>

</div>
