<p style="color: green"><%= notice %></p>

<%= render @admin_document %>

<div>
  <%= link_to "Edit this document", edit_admin_document_path(@admin_document) %> |
  <%= link_to "Back to documents", admin_documents_path %>

  <%= button_to "Destroy this document", @admin_document, method: :delete %>
</div>
