<%= form_with(model: admin_transaction) do |form| %>
  <% if admin_transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admin_transaction.errors.count, "error") %> prohibited this admin_transaction from being saved:</h2>

      <ul>
        <% admin_transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :rental_id, style: "display: block" %>
    <%= form.text_field :rental_id %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :transaction_type, style: "display: block" %>
    <%= form.text_field :transaction_type %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
