<div id="<%= dom_id transaction %>">
  <p>
    <strong>Rental:</strong>
    <%= transaction.rental_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Transaction type:</strong>
    <%= transaction.transaction_type %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= transaction.status %>
  </p>

</div>
