<div class="auth_container">
    <div class="auth_box">
        <div class="auth_box_div_image">
            <%= image_tag "auth/login/banner.png", alt: "Mi banner" %>
        </div>
        
        <div class="auth_box_form">
            <div>
                <h1 class="auth_title">Login</h1>
            </div>
            <div>
                <div class="auth_form_group">
                    <div class="auth_form_group_icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.25 4.5C1.25 4.08579 1.58579 3.75 2 3.75H22C22.4142 3.75 22.75 4.08579 22.75 4.5V19.5C22.75 19.9142 22.4142 20.25 22 20.25H2C1.58579 20.25 1.25 19.9142 1.25 19.5V4.5ZM2.75 5.25V18.75H21.25V5.25H2.75Z"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.40004 4.05004C1.64857 3.71867 2.11867 3.65152 2.45004 3.90004L12 11.0625L21.55 3.90004C21.8814 3.65152 22.3515 3.71867 22.6 4.05004C22.8486 4.38142 22.7814 4.85152 22.45 5.10004L12.45 12.6C12.1834 12.8 11.8167 12.8 11.55 12.6L1.55004 5.10004C1.21867 4.85152 1.15152 4.38142 1.40004 4.05004Z"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.25 4.5C1.25 4.08579 1.58579 3.75 2 3.75H12C12.4142 3.75 12.75 4.08579 12.75 4.5C12.75 4.91421 12.4142 5.25 12 5.25H2.75V12C2.75 12.4142 2.41421 12.75 2 12.75C1.58579 12.75 1.25 12.4142 1.25 12V4.5Z"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.25 4.5C11.25 4.08579 11.5858 3.75 12 3.75H22C22.4142 3.75 22.75 4.08579 22.75 4.5V12C22.75 12.4142 22.4142 12.75 22 12.75C21.5858 12.75 21.25 12.4142 21.25 12V5.25H12C11.5858 5.25 11.25 4.91421 11.25 4.5Z"/>
                        </svg>
                    </div>
                    <input type="text" name="email" placeholder="Correo">
                </div>
                <div class="auth_form_group auth_form_group_last">
                    <div class="auth_form_group_icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 11.75C3.86193 11.75 3.75 11.8619 3.75 12V21C3.75 21.1381 3.86193 21.25 4 21.25H20C20.1381 21.25 20.25 21.1381 20.25 21V12C20.25 11.8619 20.1381 11.75 20 11.75H4ZM2.25 12C2.25 11.0335 3.0335 10.25 4 10.25H20C20.9665 10.25 21.75 11.0335 21.75 12V21C21.75 21.9665 20.9665 22.75 20 22.75H4C3.0335 22.75 2.25 21.9665 2.25 21V12Z"/>
                            <path d="M12 2.75C9.65281 2.75 7.75 4.65279 7.75 7V11C7.75 11.4142 7.41421 11.75 7 11.75C6.58579 11.75 6.25 11.4142 6.25 11V7C6.25 3.82436 8.82439 1.25 12 1.25C15.1756 1.25 17.75 3.82436 17.75 7V11C17.75 11.4142 17.4142 11.75 17 11.75C16.5858 11.75 16.25 11.4142 16.25 11V7C16.25 4.65279 14.3472 2.75 12 2.75Z"/>
                            <path d="M12 14.25C12.4142 14.25 12.75 14.5858 12.75 15V18C12.75 18.4142 12.4142 18.75 12 18.75C11.5858 18.75 11.25 18.4142 11.25 18V15C11.25 14.5858 11.5858 14.25 12 14.25Z"/>
                        </svg>
                    </div>
                    <input type="password" name="password" placeholder="Contraseña">
                    <div class="auth_form_group_icon">
                        <div class="c-pointer">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.3463 7.33489C21.7137 7.52615 21.8565 7.97904 21.6653 8.34645C21.2927 9.06217 20.7402 9.70375 20.064 10.2579C18.1797 11.8023 15.2388 12.7502 12 12.7502C8.76127 12.7502 5.82034 11.8023 3.93599 10.2579C3.25976 9.70374 2.70732 9.06216 2.33475 8.34646C2.14349 7.97905 2.28629 7.52616 2.6537 7.33489C3.02111 7.14363 3.47401 7.28643 3.66527 7.65385C3.92742 8.15744 4.33671 8.64697 4.88679 9.09777C6.44067 10.3713 9.01775 11.2502 12 11.2502C14.9823 11.2502 17.5593 10.3713 19.1132 9.09779C19.6633 8.64697 20.0726 8.15743 20.3347 7.65385C20.526 7.28644 20.9789 7.14363 21.3463 7.33489Z" />
                                <path d="M14.2948 11.2757C14.6949 11.1685 15.1061 11.4059 15.2133 11.806L16.2486 15.6697C16.3558 16.0698 16.1183 16.4811 15.7182 16.5883C15.3181 16.6955 14.9069 16.4581 14.7997 16.058L13.7644 12.1943C13.6572 11.7942 13.8946 11.3829 14.2948 11.2757Z" />
                                <path d="M18.1464 10.1466C18.4393 9.85373 18.9142 9.85373 19.2071 10.1466L22.0355 12.975C22.3284 13.2679 22.3284 13.7428 22.0355 14.0357C21.7427 14.3286 21.2678 14.3286 20.9749 14.0357L18.1464 11.2073C17.8535 10.9144 17.8535 10.4395 18.1464 10.1466Z" />
                                <path d="M5.85874 10.1466C6.15163 10.4395 6.15163 10.9144 5.85874 11.2073L3.03033 14.0357C2.73744 14.3286 2.26256 14.3286 1.96967 14.0357C1.67678 13.7428 1.67678 13.2679 1.96967 12.975L4.79808 10.1466C5.09097 9.85373 5.56585 9.85373 5.85874 10.1466Z" />
                                <path d="M9.69323 11.2757C10.0933 11.3829 10.3308 11.7942 10.2236 12.1943L9.18825 16.058C9.08105 16.4581 8.66979 16.6955 8.26969 16.5883C7.86959 16.4811 7.63216 16.0698 7.73937 15.6697L8.77467 11.806C8.88188 11.4059 9.29313 11.1685 9.69323 11.2757Z" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="auth_forgot_password">
                    <%= link_to "¿Olvidaste la contraseña?", auth_forgot_password_path %>
                </div>
                <div>
                    <button class="auth_button auth_submit">Login</button>
                </div>
            </div>
            <div class="auth_divider">
                <div class="auth_divider_line"></div>
                <span>O</span>
            </div>
            <div>
                <div>
                    <div>
                        <button class="auth_button auth_social">
                            <div>
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.3262 13.0898V19.286H25.113C24.7272 21.2786 23.5693 22.9659 21.8327 24.1003L27.1316 28.1293C30.2189 25.3368 32 21.2351 32 16.3626C32 15.2281 31.8961 14.1371 31.7031 13.09L16.3262 13.0898Z" fill="#4285F4"/>
                                    <path d="M7.17728 19.0469L5.9822 19.9433L1.75195 23.1722C4.43848 28.3938 9.94472 32.001 16.327 32.001C20.7352 32.001 24.431 30.5756 27.1324 28.1321L21.8336 24.1031C20.379 25.0631 18.5237 25.6449 16.327 25.6449C12.082 25.6449 8.47537 22.8378 7.18396 19.0561L7.17728 19.0469Z" fill="#34A853"/>
                                    <path d="M1.75131 8.82812C0.63817 10.9807 0 13.4097 0 15.9986C0 18.5876 0.63817 21.0166 1.75131 23.1692C1.75131 23.1836 7.18384 19.0384 7.18384 19.0384C6.8573 18.0785 6.66429 17.0604 6.66429 15.9985C6.66429 14.9366 6.8573 13.9185 7.18384 12.9585L1.75131 8.82812Z" fill="#FBBC05"/>
                                    <path d="M16.3261 6.37064C18.7307 6.37064 20.868 7.18513 22.5749 8.75599L27.2503 4.17442C24.4154 1.58549 20.7345 0 16.3261 0C9.94383 0 4.43726 3.59257 1.75073 8.82873L7.18309 12.9595C8.47433 9.17777 12.0812 6.37064 16.3261 6.37064Z" fill="#EA4335"/>
                                </svg>
                            </div>
                            <p>Login con Google</p>
                        </button>
                    </div>
                    <div>
                        <button class="auth_button auth_social">
                            <div>
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="32" height="32" rx="16" fill="#004AB9"/>
                                    <path d="M22.2281 20.625L22.9375 16H18.5V13C18.5 11.7344 19.1188 10.5 21.1063 10.5H23.125V6.5625C23.125 6.5625 21.2938 6.25 19.5438 6.25C15.8875 6.25 13.5 8.46563 13.5 12.475V16H9.4375V20.625H13.5V31.8062C14.3156 31.9344 15.15 32 16 32C16.85 32 17.6844 31.9344 18.5 31.8062V20.625H22.2281Z" fill="white"/>
                                </svg>
                            </div>
                            <p>Login con facebook</p>
                        </button>
                    </div>
                    <div>
                        <button class="auth_button auth_social">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.1619 2.63269C18.358 1.20778 20.4001 0.116421 22.1505 0C22.448 1.94916 21.6341 3.84903 20.5605 5.18966C19.4461 6.59814 17.5382 7.69736 15.6741 7.69736H15.5341C15.184 5.83962 16.0767 3.92403 17.1619 2.63269ZM19.0958 8.26809C20.0951 7.8966 21.1936 7.48828 22.7965 7.48828L22.7892 7.49114C25.0114 7.49114 27.3686 8.68249 29.046 10.7395C23.5506 13.6972 24.4433 21.4117 30 23.4772C29.2415 25.145 28.8739 25.8849 27.885 27.3591C26.5109 29.409 24.5775 31.966 22.1707 31.991H22.127C21.1657 31.991 20.5269 31.7036 19.8389 31.3941C19.0361 31.033 18.1665 30.6418 16.6396 30.6418H16.5958C15.0463 30.6502 14.1508 31.0428 13.328 31.4035C12.6222 31.7129 11.9699 31.9988 11.0041 31.9988H10.9604C8.5536 31.9738 6.71863 29.6661 5.34458 27.6084C1.50325 21.8602 1.10067 15.1128 3.47242 11.5302C5.16153 8.98961 7.82136 7.49828 10.3156 7.49828C11.6514 7.49828 12.727 7.87312 13.7506 8.22982C14.6798 8.55362 15.5661 8.86248 16.5652 8.86248C17.4968 8.86248 18.2618 8.57811 19.0958 8.26809Z" fill="#0C0C0C"/>
                            </svg>

                            <p>Login con Apple ID</p>
                        </button>
                    </div>
                </div>
                <div class="auth_footer">
                    <p>Al registrarte en una cuenta de <%= $app_name %>, aceptas la <a href="#">Política de Privacidad</a>, los <a href="#">Términos de Servicio</a> y los Términos de Afiliados.</p>
                    <p>¿Nuevo en <%= $app_name %>? <%= link_to "Regístrate", auth_register_path %></p>
                    
                </div>
            </div>
        </div>
    </div>
</div>        