<div id="<%= dom_id fine %>">
  <p>
    <strong>Rental:</strong>
    <%= fine.rental_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= fine.amount %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= fine.reason %>
  </p>

  <p>
    <strong>Paid:</strong>
    <%= fine.paid %>
  </p>

</div>
